*{
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav,footer{
    flex-shrink: 0;
}
section{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li{
    list-style: none;
    
    padding: 10px;
    margin: 2px;
}
#logo{
    width: 80vw;
    height: 200px;
    background: red;
}
.layer{
    padding: 10px 20px;
    background: blue;
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid gray;
}
